.text {
  color: brown;
  font-family: cursive;
}
.image {
  height: 200px;
  padding: 4px;
  border-radius: 4px;
  background-color: silver;
}
.center {
  max-width: 50%;
  min-width: 400px;
  margin: auto;
  text-align: center;
}